body {
    font-family: Arial;
    text-align: center;
    padding-top: 100px;
    transition: 0.3s;
}

button {
    padding: 10px 15px;
    border: none;
    background: #333;
    color: white;
    border-radius: 5px;
}

.dark {
    background: #111;
    color: white;
}