body {
    font-family: Arial;
    padding: 40px;
}

.header {
    background: #333;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.content {
    display: none;
    padding: 10px;
    background: #eee;
}